<!DOCTYPE html>
<html lang="en" class="burgundy">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="occup.ie">
    <meta name="keywords" content="occup.ie">
    <meta name="author" content="Edmond Ó Floinn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>occup.ie</title>

    <link href="stylesheets/style.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body class="burgundy">

<div>
    <h1 class="white text-centre">occup.ie</h1>
    <h1 class="white text-centre">coming soon.</h1>
</div>

</body>

</html>