html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    display: table;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

img {
    width: 192px;
    height: 192px;
}

.burgundy {
    background-color: #840032;
}

.white {
    color: white;
}

.text-centre {
    text-align: center;
}

div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}